<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Blog</title>
</head>
<body>
    <h1>Welcome to Our Blog</h1>

    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.category }}</li>
        {% endfor %}
    </ul>

    <h2>Pages</h2>
    <ul>
        {% for page in pages %}
            <li><a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
