<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Home</title>
</head>
<body>
    <h1>Welcome to My Portfolio</h1>
    <h2><a href="{% url 'projects' %}"> Project:</a></h2>
    <ul>
        {% for project in projects %}
        <li>{{ project.title }} - {{ project.description }}</li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'skills' %}"> Skill:</a></h2>
    <ul>
        {% for skill in skills %}
        <li>{{ skill.name }} - {{ skill.description }} ({{ skill.percentage }}%)</li>
        {% endfor %}
    </ul>
    

    <h2><a href="{% url 'blog' %}"> Blog:</a></h2>
    {% for blog in blogs %}
    <li><a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a></li>
    {% endfor %}


    <h2>Footer</h2>
    <a href="{% url 'contact' %}">Contact</a><br>
    <a href="{% url 'about' %}">About</a>
</body>
</html>
