body {
  font-family: "Raleway", sans-serif;
  margin: 20px;
}

h1 span{
  color: hwb(35 54% 13%);
}

.title-page{
  padding-top: 60px;
}

.card{
  margin-left: 30px;
  border-radius: 23px;
}

.paragrah-page{
margin-bottom: 40px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.btn-primary {
  width: 100%;
}

.form-label{
  display: flex;
  justify-content: start;
}

.img-size{
  width: 30em;
  height: auto;
}

.margin-error {
  margin-top: 20em;
}

.rounded-image {
  border-radius: 50%;
}

.custom-card {
  background-color: rgba(42, 170, 148, 0.2); 
}

.custom-bg-color {
  background-color: hwb(35 37% 40%);
}

.footer {
  margin-top: 100px; 
}
.card {
  margin-bottom: 100px;
}
      
.footer {
  margin-top: 20px; 
  background-color: hwb(35 37% 40%);
  color: white; 
  text-align: center; 
}
.footer-text {
  margin-bottom: 0; 
}

.custom-btn1 {
  background-color: hwb(35 37% 40%);
  display: inline-block;
  width: 100%; 
  max-width: 300px;
  margin: 0 auto;
  color: white;
}

.custom-btn1:hover {
  background-color: hwb(35 37% 40%);
  color: white
}

.card-body {
  text-align: center; 
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

.custom-btn {
 background-color: white;
 color: rgb(99, 95, 95);
}

.custom-btn:hover {
 background-color: rgb(233, 233, 233);
 color: black
}

.custom-search {
 border-color: black;
}

.custom-search:focus {
 border-color: white;
}

.custom-outline-btn {
 color: white;
 border-color: white;
}

.custom-outline-btn:hover {
 background-color: white;
 color: white;
}