body {
  font-family: "Raleway", sans-serif;
  margin: 20px;
}

h1 span{
  color: rgb(222, 184, 143);
}

.title-page{
  padding-top: 60px;
}

.card{
  margin-left: 30px;
  border-radius: 23px;
}

.paragrah-page{
margin-bottom: 40px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.btn-primary {
  width: 100%;
}

.form-label{
  display: flex;
  justify-content: start;
}

.img-size{
  width: 30em;
  height: auto;
}

.margin-error {
  margin-top: 20em;
}

.rounded-image {
  border-radius: 50%;
}

.custom-card {
  background-color: rgba(42, 170, 148, 0.2); 
}

.custom-bg-color {
  background-color: rgb(243, 213, 172);
}

.footer {
  margin-top: 100px; 
}
.card {
  margin-bottom: 100px;
}
      
.footer {
  margin-top: 20px; 
  background-color: #007bff;
  color: white; 
  text-align: center; 
}
.footer-text {
  margin-bottom: 0; 
}
